<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container">

    <a class="navbar-brand" href="https://torre.co" target="_blank">
      <img src="assets/torre.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      torre
    </a>

    <label>Search People by Name</label>

    <form class="d-flex" autocomplete="off" [formGroup]="searchForm" (ngSubmit)="add()">

      <input class="form-control me-2" type="search" formControlName="name" id="name" placeholder="Search"
        aria-label="Search">

      <button class="btn btn-outline-success" type="submit">Search</button>

    </form>
  </div>
</nav>

<br><br>

<div class="container">

  <div class="row row-cols-1 row-cols-md-4 g-5">

    <div class="col" *ngFor="let data of results; index as i ">

      <div class="card h-100">
        <div style="text-align: center;">

          <div *ngIf="data['picture'];else noImage">
            <img [src]="data['picture']" class="card-img-top" alt="...">
          </div>

          <ng-template #noImage>
            <img src="assets/empty.jpg" class="card-img-top" alt="...">
          </ng-template>


        </div>


        <h5 style="text-align: center; background-color:gainsboro;" class="card-header">
          {{data['name']}}
        </h5>


        <h6 style="text-align: center;" class="card-header">
          {{data['professionalHeadline']}}
        </h6>
        <div class="card-body">

          <div class="col-xs-12" style="height:5px;"></div>

          <h6 style="color: darkslategray; text-align: center;">SKILLS</h6>


          <div *ngIf="!data['skills'][0]">

            <br>
            <blockquote class="blockquote mb-0">
              <footer class="blockquote-footer">No Skills Available </footer>
            </blockquote>

          </div>

          <ul class="list-group list-group-flush">

            <ng-template ngFor let-skill [ngForOf]="data['skills']" let-i="index">

              <div *ngIf="i < 4">
                <li class="list-group-item">{{skill.name}}</li>
              </div>
            </ng-template>

          </ul>

        </div>

        <div style="text-align: center;" class="card-footer bg-transparent">


          <a (click)= "mostrarDetalle(data['username'])" class="btn btn-primary">DETAILS</a>

        </div>


        <div class="card-footer">
          <small class="text-muted">{{data['locationName'] ? data['locationName'] : 'Location No Available' }}</small>
        </div>
      </div>
    </div>

  </div>

  <div>